.highlight {
    color: yellow;
    background-color: pink;
}

.font-style {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: inherit;
    font-size: larger;
}

.just {
    text-align: justify;
    color: red;
}